@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
back
}
body>header>h3{
  background: #fff;
  color: #0f0;
}
h3{
  color:#000;
}
body h3{
  color:#f00;
}
 h1{
padding: 50px;
}
